/* src/components/Warehouse.scss */
.warehouse {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 350px;
  height: 220px;
  margin: 10px;
  border: 1px solid black;
  border-radius: 8px;
  color: white;
  padding: 1rem;
  box-sizing: border-box;
  cursor: pointer;
  background-color: #1d1d1d;
}

.warehouse.selected {
  border: 2px solid blue;
}
